<div class="row" ng-controller="ClientesController as clienteController">
    <div class="col-sm-12 col-md-12 col-lg-12 row">
        <div class="col-sm-8 col-md-8 col-lg-8">
            <div class="form-group">
                <div class="input-group">
                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
                    <input id="busca" class="form-control" type="text" placeholder="Entre aqui com seu termo de busca" required ng-model="clienteController.filtro">
                </div>
            </div>
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <a class="btn btn-primary" href="#!/novo-cliente">Novo Cliente <i class="fa fa-user"></i></a>
        </div>
    </div>
    <div class="col-sm-12 col-md-6 col-lg-6" ng-repeat="cliente in clienteController.clientes | filter: clienteController.filtro">
        <div class="panel">
            <div class="panel-heading">
                <span class="label label-default">{{clienteController.carregarSituacao(cliente.situacao)}}</span>
                <span class="label label-default">{{clienteController.carregarStatus(cliente.status)}}</span>
            </div>
            <div class="panel-body">
                <h3 style="margin-top: 0;">{{cliente.nome}}</h3>
                <p>
                    <b>Telefone:</b> {{cliente.telefone}}
                    <br><b>CPF:</b> {{cliente.cpf}}
                    <br><b>Endereço:</b> {{cliente.logradouro}}, {{cliente.numero}} - {{cliente.bairro}} - {{cliente.cidade}}/{{cliente.uf}}
                    <br><b>Observação:</b> {{cliente.obs}}
                </p>
                <label>Opções</label>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">Situação</span>
                        <select id="situacao" class="form-control" ng-model="cliente.situacao" ng-change="clienteController.alterarSituacaoStatus(cliente)">
                            <option ng-repeat="situacaoDisponivel in clienteController.situacoesDisponiveis" ng-value="situacaoDisponivel.codigo">{{situacaoDisponivel.nome}}</option>
                        </select>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon">Status</span>
                        <select id="status" class="form-control" ng-model="cliente.status" ng-change="clienteController.alterarSituacaoStatus(cliente)">
                            <option ng-repeat="statusDisponivel in clienteController.statusDisponiveis" ng-value="statusDisponivel.codigo">{{statusDisponivel.nome}}</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="panel-footer text-right">
                <a href="#!/editar-cliente/{{cliente['id_cliente']}}" class="btn btn-sm btn-info" title="Editar">Editar <i class="fa fa-edit"></i></a>
                <button type="button" class="btn btn-sm btn-danger" title="Excluir" ng-click="clienteController.excluirCliente(cliente.id_cliente)">Excluir <i class="fa fa-trash"></i></button>
            </div>
        </div>
    </div>
</div>